configuration {
    display-drun:"Applications:";
    display-window:"Windows:";
    drun-display-format:"{icon} {name}";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme:"Gruvbox Plus Dark";
    font: "JetBrainsMono Nerd Font Medium 11";
}

//@theme "~/.config/rofi/theme.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

@theme "~/dotfiles/rofi/vague-spotlight.rasi"
